@charset "utf-8";
.clear-both{
    clear: both;
}
.about-timeline{
    width: 100%;
    position: relative;
    .timeline-item-left{
        float: left;
        width: 50%;
        text-align: right;
        padding-right: 80px;
    }
    .timeline-item-right{
        width: 50%;
        float: right;
        padding-left: 80px;
    }
    .timeline-item{
        h1{
            color: #66d4cb;
            font-size: 38px;
        }
        p{
            color: #666666;
            font-size: 28px;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            margin-left: 1px;
            border-right-width: 2px;
            border-right-style: solid;
            border-right-color: #888888;
        }
        &::after{
            clear: both;
        }
    }
}