@charset "utf-8";

.container-main{
    width: 100%;
    min-height: 100%;
    background: #fff;
    min-width: 1280px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
/*header start*/
.left{
    float: left;
}
.header{
    width: 100%;
    height: 80px;
    background: #000;
}
.header-content{
    width: 1100px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header-left{
    text-align: center;
    padding-left: 20px;
}
.header-left img{
    width: 74px;
    height: 44px;
    margin-top: 20px;
}
.header-right{
    float: right;
    width: 565px;
    height: 64px;
}
.header-right li{
    float: left;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 80px;
    position: relative;
    a{
        height: 30px;
        line-height: 30px;
        display: inline-block;
        margin:25px 15px 0 15px;
    }
    .lever2{
        position: absolute;
        left:-20px;
        top: 80px;
        width: 202px;
        height: 127px;
        background: #000;
        display: none;
        z-index: 1;
        &::before{
            position: absolute;
            left: -10px;
            top: -2px;
            content: "";
            width: 10px;
            height: 10px;
            background: #000000;
            border-radius: 0 0 0 100%;
        }
        &::after{
            position: absolute;
            right: -10px;
            top: -2px;
            content: "";
            width: 10px;
            height: 10px;
            background: #000000;
            border-radius: 0 0 100% 0;
        }
        // display: none;
        border-radius:0 0 10px 10px;
        ul{
            padding: 2px 5px 0 13px;
            li{
                height: 30px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                width: 50%;
                a{
                    background: none;
                    color: #fff;
                    font-size: 14px;
                    float: left;
                    
                    margin: 0;
                    padding: 0;
                }
                &:hover{
                    a{
                        background: none;
                    }
                }
            }
        }
    }
}
.header-right li:last-child{
    margin-right: 0;
}
.header-right .li-active{
    a{
        height: 30px;
        line-height: 30px;
        background: #c6382b;
        border-radius: 15px;
        margin-top: 26px;
    }
}
.header-right a{
    padding: 0 30px;
    display: inline-block;
}
.header-right a,
.header-right a:hover,
.header-right .li-active a{
    color: #fff;
}
.header-right li:hover{
    a{
        background: #c6382b;
        border-radius: 15px;
    }
}
/*header end*/

/* index.html */
.jumbotron{
    background: none!important;
    background-color: none;
}
// 关于我们banner
.about-footer-banner{
    min-height: 247px;
    background: url('../imgs/about-footer.jpg');
}
.index-banner{
    position: relative;
    text-align: center;
    img{
        max-width:100%;
    }
    .index-banner-des{
        position: absolute;
        max-width: 100%;
        height: 100%;
        left: 50%;
        margin-left: -550px;
    }
    .jumbotron{
        width: 1100px;
        overflow: hidden;
        max-width: 100%;
        position:relative;
        padding: 0;
        margin: 45px 0 0 0;
        top:25%;
        left:0;
        color: #333333;
        text-align: left;
        h1{
            font-size: 50px;
            margin-bottom: 20px;
        }
        p{
            font-size: 28px;
            font-weight: 100;
            font-weight: lighter;
        }
    }

    
    .about-banner,.about-footer{
        .jumbotron{
            color: #ffffff;
        } 
    }

    .about-footer{
        .jumbotron{
            margin: 0;
            h1{
                font-size: 50px;
                margin-bottom: 40px;
            }
            p{
                font-size: 28px;
                font-weight: 100;
            }
        } 
    }
}

.index-corp-desc{
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    color: #333333;
    font-size: 16px;
    p{
        font-weight: normal;
        line-height: 30px
    }
}

// 视觉外包服务
.serve-visval-fbcon{
    width: 1280px;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    height: 490px;
    margin-left: -580px;
    margin-top: -245px;
    padding: 20px 0;
    .fbcon-box{
        display: flex;
        text-align: left;
        color: #ffffff;
        .con1{
            width: 680px;
            height: 102px;
            position: relative;
            border-left: 1px solid #7f838a;
            padding-left: 30px;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                border-left: 3px solid #66d4cb;
                height: 100%;
            }
            h1{
                font-size: 36px;
                margin-bottom: 30px;
            }
            p{
                font-size: 24px;
            }
        }
        .con1sm{
            height: 55px;
            margin-top: 128px;
            h1{
                font-size: 26px;
                margin-bottom: 8px;
            }
            p{
                font-size: 13px;
            }
        }
        .con2{
            flex-grow: 1;
            ul{
                li{
                    float: left;
                    height: 185px;
                    position: relative;
                    border-left: 1px solid #7f838a;
                    width: 300px;
                    padding-left: 30px;
                    img{
                        margin-bottom: 20px;
                    }
                    h1{
                        font-size: 26px;
                    }
                    p{
                        height: 24px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 2px;
                        border-left: 3px solid #66d4cb;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// footer
.footer {
    width: 100%;
    min-width: 1280px;
    height: 94px;
    line-height: 94px;
    background: #000;
    color: #fff;
    font-size: 14px;
    .h94{
        height: 94px;
    }
    .adIcon{
        margin: 35px 10px 0 0;
    }
    .container{
        height: 94px!important;
        min-width:750px;
    }
    
}

// 核心服务
.serve-detail-content{
    img{
        max-width: 100%;
    }
}
