.index-banner .jumbotron {
    color: #ffffff;
}

.index-banner .jumbotron p {
    font-size: 50px;
}

.job-header {
    text-align: center;
    font-size: 44px;
}

.job-header .job-slogan {
    width: 500px;
    font-size: 26px;
    color: #ffffff;
    background: #38d6c2;
    margin: auto;
    margin-top: 14px;
    padding: 10px;
}

.job-header .job-slogan p {
    margin-bottom: 0;
}

.job-detail {
    margin-top: 30px;
}

.job-detail-item {
    margin-top: 26px;
}

.job-detail-item .job-item-header {
    font-size: 30px;
    color: #38d6c2;
    margin-bottom: 10px;
}

.job-detail-item .job-item-content {
    font-size: 22px;
    color: #858585;
}

.job-detail-item .job-item-content p {
    margin-bottom: 4px;
}

.index-banner .welfare {
    top: 0%;
    font-size: 34px;
}

.index-banner .welfare .welfare-detail,
.index-banner .welfare .contact {
    margin-top: 30px;
}

.index-banner .welfare p {
    font-size: 16px;
}